@import '../assets/main.scss';

@include b('view-header') {
  font-weight: bold;
  margin: 10px;
  margin-bottom: 20px;

  @include e('sub-title') {
    font-size: 18px;
    color: darkgray;
  }

  .el-divider {
    margin {
      top: 24px;
      bottom: 10px;
    }
  }
}
